.search-bar-container {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding-top: 0px;
 margin-left: 180px;
 
  
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f8ebe6;
  border-radius: 40px;
  padding: 10px;
  width: 100%;
  background: linear-gradient(to left, green 10%, white 10%) right;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 40px; 
}




