
.loginsignup-page {
    display: flex;
    width: 100%;
    height: 100%; 
    margin: 0;
    background: linear-gradient(to right, #264727,#08130a, #4d7144, rgb(11, 102, 35));
    font-weight: bold;
 
 
  }
  
 
  .loginsignup-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 100px;
    margin-right: 0px;
    margin-left: 100px;
   
  }
  
  .loginsignup-container {
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    font-size: 46px;
    color: white;
    margin: 30px;

 
  }
  

  .loginsignup-fields input {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(11, 102, 35);
    color: white;
    font-size: 28px;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
   padding-top: 30px;
    
  }
  
  .loginsignup-fields input:focus {
    outline: none;
    border-bottom: 2px solid rgb(11, 102, 35);
  }
  

  .loginsignup-remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: rgb(11, 102, 35);
    font-size: 28px;
    margin-top: 30px;
  
  }
  
  .loginsignup-remember label {
    font-size: 18px;
  }
  .loginsignup-remember a {
    font-size: 18px;
    color: rgb(11, 102, 35);
    text-decoration: none;
  }

  .loginsignup-remember a:hover {
    text-decoration: underline;
  }
  

  .login-button {
    width: 100%;
    padding: 15px 0;
    background-color: rgb(11, 102, 35);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
.loginsignup-or {
    color: white;
    margin: 20px 0;
    font-size: 28px;
  }
  
 
  .social-login a {
    margin: 0 10px;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  .loginsignup-right {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-left: 0px;
    padding-left: 0px;
    align-items: center;
    background-color: black;
  }
  
  .loginsignup-right img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }
  
  .social-login img{
    height: 100px;
    width: 100px;
    
  }